/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: black;
}

header {
  border: 2px solid white;
  margin: 20px 20px;
  background-image: url('../img/code.jpg');
  padding: 33px 38px 34px 30px;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800px;
  font-size: 26px;
  color: white;
  padding-bottom: 2px;
}

header h1 em {
  color: #2afca6;
  font-weight: 100px;
}

.sous-titre {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

main {
  margin: 0 20px;
}

.introduction {
  background-color: #2afca6;
  padding-left: 30px;
}

.introduction h2{
  font-size: 16px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
  padding-bottom: 4px;
  color: #0d6a4a;
}

.introduction p{
  color: #0d6a4a;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding-right: 30px;
  padding-bottom: 46px;
}

article{
  background-color: white;
  padding: 17px 30px 12px;
  margin-top: 20px;
}

article h2{
  font-size: 16px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.informations{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  padding-top: 7px;
  color: #a0a0a0;
}

.date{
  color: black;
}

.auteur{
  color: #2afca6;
}

article p{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

figure{
  margin: 0px 0px 32px;
  box-shadow: 0px 0px 5px 3px #e7e7e7;
}

img {
  max-width: 100%;
}

figcaption{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  padding: 6px 10px 5px;
}

.button {
  background-color: #444444;
  border-style: none;
  width: 89px;
  height: 23px;
  margin-bottom: 20px;
}

.button a {
  color: white;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding-left: 15px;
  padding-top: 10px;
}

footer {
  border: 2px solid #2afca6;
  margin: auto;
  margin-top: 19px;
  height: 44px;
  width: 276px;
}

footer p {
  color: white;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 15px;
}

.dimensions {
  margin-top: 13px;
}

.dimensions_text {
  padding-top: 5px;
}

.changement_taille {
  padding-top: 3px;
}

.changement_dimensions {
  padding-top: 4px;
}

.button_article {
  background-color: #444444;
  border-style: none;
  width: 134px;
  height: 23px;
  margin-bottom: 20px;
}

.button_article a {
  color: white;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding-left: 15px;
  padding-top: 10px;
}
