/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: white;
}

header {
  border: 2px solid white;
  margin: 20px 20px;
  background-image: url('../img/code.jpg');
  padding: 33px 38px 34px 30px;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800px;
  font-size: 26px;
  color: white;
  padding-bottom: 2px;
}

header h1 em {
  color: #2afca6;
  font-weight: 100px;
}

.sous-titre {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

main {
  margin: 0 20px;
}

.introduction {
  background-color: #2afca6;
}

