/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: white;
}

header {
  border: 2px solid white;
  margin: 20px 20px;
  background-image: url('../img/code.jpg');
  padding-top: 56px;
  padding-left: 31px;
  padding-bottom: 51px;
  padding-right: 40px;
}


